body {
   width: 100%;
}  

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
} 
/* variables */

:root {
    --color1 : #f9f9f9;   /* blanco */
    --color2 : #9E6EAF;   /* MoradoClaro */
    --color3 : #8ED1B9;   /* verde */
    --color4 : #FBC02D;   /* amarilloPrincipal */
    --color5 : #EAFFF7;   /* verdeClaro */
    --color6 : #31363F;   /* DB color negro */
    --color7 : #F3F1ED ;  /* blancoParaFondoCards */
}
/* desactivar el subrayado de los enlaces/rutas*/
a:link, a:visited, a:active {
    text-decoration: none;
}

.button-1{
    border-color: var(--color2);
    background-color: var(--color1);
    color: var(--color2);
    padding: 0.3rem;
    border-radius: 5px;
}


/* navbar */

.logo{
    text-align: left;
    height: 60px;
    margin-left: 15px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;

    background-color: var(--color1);
    padding: 5px;
    width: 100%;
    position:sticky;
    top: 0;
}

.navbar img{
    align-self: center;
}
.navbar-link-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 284px;
}
.navbar-link-container p {
    color: var(--color6);
    padding-top: 10px
}
.navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    width: 270px;
}

/* body */
.home-container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--color1);
    width: 100vw;
}
.searcher-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:flex-start ;
    background-color: var(--color2);
    width: 100%;
    min-height: 100px;
    padding: 15px;
    padding-left: 15vw;
}

.searcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
    overflow-x: hidden;
}

.searcher-button{
    background-color: var(--color3);
    color: var(--color7);
    border-color: var(--color3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.categories-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px ;
    background-color: var(--color1);
    width: 100%;
}
.categories-container h2{
    margin-left: 20px;
}
.render-cards-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto; 
}
.card-container{
    background-color: var(--color7);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-image {
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 50%;
    height: 181px;
}
.card-title-category{
    color: var(--color6);
    font-size: 0.5rem;
    margin: 8px;
    margin-bottom: 5px;
    
}
.card-quantity-categories {
    color: var(--color6);
    font-size: 0.4rem;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}


/* Style for recommends section */
.recommends-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color1);
    padding-top: 20px;
    width: 100%;
}
.recommends-container h2{
    margin-left: 20px;
}
.render-cards-recomends{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto; 
    max-width: 1080px;
}

.card-recomends{
    display: flex;
    background-color: red;
    border-radius: 10px;
    margin: 20px;
    max-height: 164px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-content{
    display:flex;
    background-color: var(--color7);
}

/* .left-card-content, .right-card-content{
    width: 100%;
} */

.right-card-content{
    padding-left: 0px;
    padding-top: 10px;

}

.left-card-content {
    
    display:contents;
}

.card-image-recommends {
    display: flex;
    width: 50%;
    height: 181px;
    border-top-left-radius: 10px;
    border-style: none;
}
.card-like-recommends {
    position: relative;
    z-index: 1;
    top: 10px;
    right: 25px;
    width: 15px;
    height: 15px
}

.card-image {
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.card-title-recommends{
    color: var(--color6);
    font-size: 0.8rem;
    display: inline;
}

.card-category-recommends {
    color: var(--color6);
    font-size: 0.8rem;
    margin-left: 0px;
    display: block;
}

.card-descrption-recommends {
    color: var(--color6);
    font-size: 0.6rem;
    margin: 5px 17px 0px 0;
    
}

a.see-more-link{
    display:inline-flex;
    font-size: 0.6rem;
    color: var(--color2);
}

.card-location-recommends{
    color: var(--color6);
    font-size: 0.5rem;
    margin: 10px 10px 10px 0;
}

.card-location-recommends:before {
    content: "";
    display: block;
    background: url("./images/pinLocation.png") no-repeat;
    width: 10px;
    height: 10px;
    float: left;
    margin: 0 3px 0 0;
    padding: -3px 0 0 0;
}

.card-quantity-recommends {
    color: var(--color6);
    font-size: 0.4rem;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.card-recomends-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--color7);
    border-radius: 10px;
    Height: 350px;
    Width: 620px;
}


a.ver-mas-recommends{
    background: var(--color2);
    border-color: var(--color2);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    color: var(--color7);
}

/* register-formUser y login-formlogin */
.space-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
}
.space-section h2{
    color: var(--color2);
}
.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    width: 100%;
}
.form-section{
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 1rem;
    width: 40%;
}
.form-section-name{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.box{
    width: 45%;
}
.box input{
    width: 100%;
}
.section-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-button .button-1{
    width: 90px;
    align-items: center;
    background-color: var(--color2);
    color: var(--color1);
}
.section-redirection{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: small
}

input,select {
    border-radius:5px;
    border: 1px solid #bababa;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    min-height: 1.8rem;

    transition: .4s;
}

input:hover {
    border: 1px solid var(--color2);
}

/* Paginate */
.paginate-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.paginate-button-container{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

/* footer */
footer {
    display: flex;
    justify-content: flex-start ;
    background-color: var(--color3);
    color: var(--color6);
    font-size: 15px;
    font-weight: 800;
    padding: 16px;
    width: 100%;
    bottom: 0;
}
.copiryghticon{
    align-self: center;
    margin-right: 5px;
    height: 10px;
}

@media only screen and  (max-width: 450px){
    .navbar{
        display: flex;
        font-size: 10px;
        justify-content:space-between;
    }
    .navbar-link-container{
        width: 50px;
        justify-content: flex-start;
    }
    .navbar-link-container p{
        display: none;
    }
    .navbar-buttons button {
        font-size: 19px;
        padding: 7px;
    }
    .searcher {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .search-width{
        width: 100%;
        margin: 5px;
    }
    .searcher-container{
        margin-top: 0px;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 15px;
    }
    .searcher-title{
        margin:20px;
        text-align: center;
        font-size: 28px;
    }
    .categories-container{
        align-items: center;
        padding: 20px 0px;
    }
    .render-cards-categories{
        flex-wrap: wrap;
        max-width: 85%;
    }
    .card-container{
        margin: 10px 0px;
    }
    .render-cards-recomends {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 85%;
    }
    .recommends-container {
        display: flex;
        align-items: center;
        padding: 20px 0px;
    }
    .right-card-content{
        padding-left: 15px;
        padding-top: 0;   
    }
    .card-recomends{
        margin: 10px 0px;
        max-width: 350px;
        min-height: 350px;
    }
    .card-content{
        flex-direction: column;
    }
    .recommends-container h2{
        margin: auto;
        text-align: center;
    }
    .categories-container h2{
        text-align: center;
    }
    .card-image-recommends {
        width: 100%;
    }
    .searcherLogo{
        display: none;
    }
}
@media only screen and  (min-width: 451px)  and  (max-width: 900px){
    
    .navbar-link-container p{
        display: none;
    }
    .logo {
        margin-left: 40px;
    }
    .navbar-buttons{
        width: 40vw;
        justify-content: space-around;
    }
    .navbar-buttons button {
        font-size: 18px;
        padding: 5px ;
        margin: 10px;
    }
    .searcher {
        justify-content: center;
        width: 100%;
    }
    .searcher-container{
        padding-left: 15px;
        align-items: center;
    }
    .search-width{
        margin: 20px 5px;
        min-width: 190px;
    }
    .categories-container{
        align-items: center;
        padding: 20px 0px;
    }
    .render-cards-categories {
        justify-content: space-around;
        
        min-width: 80px;
    }
    .card-container{
        width: 325px;
    }
}

@media only screen and  (min-width: 901px) {

}