* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} 

/* variables */

:root {
    --color1 : #F1FAEE;   /* blanco */
    --color2 : #9E6EAF;   /* MoradoClaro */
    --color3 : #8ED1B9;   /* verde */
    --color4 : #FBC02D;   /* amarilloPrincipal */
    --color5 : #EAFFF7;   /* verdeClaro */
    --color6 : #31363F;   /* DB color negro */
}


a:link, a:visited, a:active {
    text-decoration: none;
}

body {
    width: 100%;
}
/* navbar */

.logo{
    text-align: left;
    height: 50px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;

    background-color: var(--color5);
    padding: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.navbar img{
    align-self: center;
}
.navbar-link-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 284px;
}
.navbar-link-container p {
    color: var(--color1);
    padding-top: 10px
}
.navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin: 25px;
    width: 270px;
}

/* body */
.home-container{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    background-color: #f1faee;
    margin-top: 85px;
    height: 100vh;
    width: 100vw;
}
.searcher-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    
    background-color: #fec601;
    width: 100%;

}
.searcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}
.searcher-title {
}
.searcher-input-location{

}
.searcher-input-date{

}
.searcher-button{

}
.categories-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    
}
.render-cards-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}

.card-container{
    background-color: white;
    border-radius: 10px;
    height: 282px;
    margin: 20px;
    width: 310px;

}
.card-image {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}
.card-title-category{
    margin: 20px;
    text-align: center;
}
.card-quantity-categories {
    margin: 20px;
    text-align: center;
}
.recommends-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #f1faee;
}
.render-cards-recomends{
    display: flex;
    flex-direction: row;
}
.icono-location{
    Width: 10px;
    Height: 16px;
}
.card-recomends-container{
    Width: 500px;
    Height: 350px;
    border-radius: 10px;
}
/* register-formUser y login-formlogin */
.space-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.form-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 20px;
}
input,select{
    border-radius:5px;
    border: 1px solid #bababa;
    transition: .4s;
    min-height: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
input:hover {
    border: 1px solid var(--color5);
}

/* footer */
footer {
    background-color: #006c67;
    color: #f1faee;
    font-size: 15px;
    font-weight: 800;
    display: flex;
    padding: 16px;
    width: 100%;
    justify-content: flex-start ;
}
.copiryghticon{
    align-self: center;
    margin-right: 5px;
    height: 10px;
}


