* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
} 
/* variables */

:root {
    --color1 : #f9f9f9;   /* blanco */
    --color2 : #9E6EAF;   /* MoradoClaro */
    --color3 : #8ED1B9;   /* verde */
    --color4 : #FBC02D;   /* amarilloPrincipal */
    --color5 : #EAFFF7;   /* verdeClaro */
    --color6 : #31363F;   /* DB color negro */
    --color7 : #F3F1ED ;  /* blancoParaFondoCards */
}
/* desactivar el subrayado de los enlaces/rutas*/
a:link, a:visited, a:active {
    text-decoration: none;
}

/* navbar */

.logo{
    text-align: left;
    height: 50px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;

    background-color: var(--color1);
    padding: 5px;
    width: 100%;
    position:sticky;
    top: 0;
}

.navbar img{
    align-self: center;
}
.navbar-link-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 284px;
}
.navbar-link-container p {
    color: var(--color6);
    padding-top: 10px
}
.navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    width: 270px;
}
.navbar-buttons button {
    border-color: var(--color2);
    background-color: var(--color1);
    border-radius: 10px;
    border-width: 2.5px;
}

/* body */
.home-container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--color1);
    
}
.searcher-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center ;
    background-color: var(--color2);
    width: 100%;
    padding: 15px;
}
.searcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    width: 50%;
    justify-content: space-between;
}
.searcher input select {
    flex: 1;
    margin-right: 10px;
}
.searcher-button{
    background-color: var(--color3);
    color: var(--color7);
    border-color: var(--color3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}
.categories-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px ;
    background-color: var(--color1);
    width: 100%;
}
.categories-container h2{
    margin-left: 10vw;
}
.render-cards-categories {
    display: flex;

    margin: auto;
    max-width: 80%;
}

.card-container{
    background-color: var(--color7);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-image {
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.card-title-category{
    color: var(--color6);
    font-size: 1rem;
    margin: 8px;
    margin-bottom: 5px;
}
.card-quantity-categories {
    color: var(--color6);
    font-size: 0.5rem;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Style for recommends section */
.recommends-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color1);
    padding-top: 20px;
    width: 100%;
}
.recommends-container h2{
    margin-left: 10vw;
}
.render-cards-recomends{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto; 
    max-width: 80%;
}

.card-recomends{
    display: flex;
    background-color: red;
    border-radius: 10px;
    margin: 20px;
    max-height: 164px;
    max-width: 500px;
    overflow: hidden;
}
.card-content{
    display:flex;
    background-color: var(--color7);
}

.left-card-content, .right-card-content{
    width: 100%;
}

.right-card-content{
    padding-left: 10px;

}

.left-card-content {
    
    display:contents;
}

.card-recommends-image {
    display: flex;
    width: 50%;
    border-top-left-radius: 10px;
    border-style: none;
}

.icono-location{
    Width: 10px;
    Height: 16px;
}
.card-recomends-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background-color: var(--color7);
    border-radius: 10px;
    Height: 350px;
    Width: 620px;
}

.ver-mas-button{
    background: var(--color2);
    border-color: var(--color2);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    color: var(--color7);
}

/* register-formUser y login-formlogin */
.space-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
}
.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    width: 100%;
}
.form-section{
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 20px;
    width: 40%;
}
input,select{
    border-radius:5px;
    border: 1px solid #bababa;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    min-height: 1.8rem;
    transition: .4s;
}
input:hover {
    border: 1px solid var(--color2);
}

/* Paginate */
.paginate-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.paginate-button-container{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

/* footer */
footer {
    display: flex;
    justify-content: flex-start ;
    background-color: var(--color3);
    color: var(--color6);
    font-size: 15px;
    font-weight: 800;
    padding: 16px;
    width: 100%;
    position:fixed;
    bottom: 0;
}
.copiryghticon{
    align-self: center;
    margin-right: 5px;
    height: 10px;
}

@media only screen and  (max-width: 450px){
    .navbar{
        display: flex;
        font-size: 10px;
        justify-content:space-between;
    }
    .navbar-link-container{
        width: 50px;
        justify-content: flex-start;
    }
    .navbar-link-container p{
        display: none;
    }
    .navbar-buttons button {
        font-size: 19px;
        padding: 7px;
    }
    .home-container{
        margin-top: 420px;
        margin-bottom: 1250px;
    }
    .searcher {
        display: flex;
        flex-direction: column;
        padding: 24px 10px 10px 10px;
    }
    .searcher-container{
        margin-top: 0px;
    }
    .home-container {
        margin-top: 0px;
    }
    .categories-container{
        align-items: center;
        padding: 20px 0px;
    }
    .render-cards-categories{
        flex-wrap: wrap;
    }
    .card-container{
        margin: 10px 0px;
    }
    .render-cards-recomends {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
   
    .recommends-container {
        display: flex;
        align-items: center;
        padding: 20px 0px;
    }

    .card-recomends{
        margin: 10px 0px;
        max-width: 350px;
        min-height: 350px;
    }
    .card-content{
        flex-direction: column;
    }
    .recommends-container h2{
        margin: auto;
        text-align: center;
    }
    .categories-container h2{
        margin: auto;
        text-align: center;
    }
    .card-recommends-image {
        
        width: 100%;
        
    }
    
}
